{% extends 'base.html' %}

{% block content %}
  {% if status == 'success' %}
    <h1>{{_('Account deleted')}}</h1>
    <p>{{_('All your data on Wire is now erased.')}}</p>
    <p>
      {% autoescape false %}
        {{_('Thanks for using Wire.')}}
        {{_('If you’d like, you can %(survey)s.', survey='<a href="{{config.URL.ACCOUNT_DELETE_SURVEY}}">%s</a>' % (_('share your thoughts about it')))}}
        {{_('This will take no longer than a minute.')}}
      {% endautoescape %}
    </p>
  {% elif status == 'error' %}
    <h1>{{_('Something went wrong')}}</h1>
    <p>{{_('Please try again to delete your account.')}}</p>
  {% else %}
    <h1>{{title}}</h1>
    <p>
      {{_('Hi there,')}}<br>
      {{_('We’ve received a request to delete your Wire account. Click on the button below to proceed. It is valid for 10 minutes.')}}
    </p>
    <form action="." method="POST">
      <input name="key" type="hidden" value="{{key}}">
      <input name="code" type="hidden" value="{{code}}">
      <button class="wbtn red" type="submit" data-loading-text="{{_('Please wait…')}}">
        {{_('Delete Account')}}
      </button>
    </form>

    <p>
      {% autoescape false %}
        {{_('If you did not ask for this, you should %(forgot)s.', forgot='<a href="%s">%s</a>' % (url_for('forgot'), _('reset your Wire password')))}}
      {% endautoescape %}
    </p>
  {% endif %}
{% endblock %}
