# extends 'base.html'

# block content
  # if status == 'success'
    <h1>{{title}}</h1>
    <p>{{_('You can now log in with your new password.')}}</p>
    # if user_agent().is.mobile
      {{utils.download_btn(_('Get Wire'), 'wbtn green', 'verify')}}
    # elif user_agent().is.desktop
      <p>{{_('To sign in and start using Wire, launch the application.')}}</p>
        # if user_agent().is.linux or user_agent().is.windows
          <a class="wbtn green" href="{{config.WIRE_DOWNLOAD_URL}}">{{_('Get Wire')}}</a>
        # elif  user_agent().is.osx
          <a class="wbtn green no-capital" href="{{config.DOWNLOAD_OSX_URL}}">{{_('OPEN macOS APP')}}</a>
        # endif
      <a class="wbtn blue" href="{{config.WEBAPP_URL}}">{{_('Open in Web')}}</a>
    # else
      <a class="wbtn blue" href="{{config.WEBAPP_URL}}">{{_('Open Wire')}}</a>
    # endif
  # elif status == 'error'
    <h1>{{_('The link is no longer valid')}}</h1>
    <p>{{_('Please try again.')}}</p>
    <a class="wbtn green" href="{{url_for('forgot')}}">{{_('Reset password')}}</a>
  # else
    <h1>{{title}}</h1>
    <form method="POST" action=".">
      <input name="key" type="hidden" value="{{key}}">
      <input name="code" type="hidden" value="{{code}}">
      <input name="password" type="password" placeholder="{{_('Enter new password')}}" autofocus>
      <p>{{error}}</p>
      <button type="submit" class="wbtn btn-block" data-loading-text="{{_('Please wait…')}}">
        {{_('Reset password')}}
      </button>
    </form>
  # endif
# endblock


# block scripts
  # if (user_agent().is.ios or user_agent().is.android) and status == 'success'
    <script>
      $(function() {
        window.location.href = "{{config.REDIRECT_RESET_URL}}";
      });
    </script>
  # endif
# endblock
