# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <link id="url" data-url="{{url}}" data-status="{{status}}"
    # if (user_agent().is.ios or user_agent().is.android)
      data-redirect="{{config.REDIRECT_VERIFY_URL}}"
    # elif user_agent().is.desktop and not (user_agent().is.osx or user_agent().is.windows)
      data-redirect="{{config.WEBAPP_URL}}"
    # endif
    data-redirect-teams={{config.TEAMS_URL}}
    data-backend-url="{{config.BACKEND_URL}}"
    data-credentials="{{credentials}}"
  >

  <div class="loading">
    <h1>{{_('Verifying')}}</h1>
    <p>{{_('Please wait…')}}</p>
  </div>

  <div class="200 204 success hide">
    <h1>{{_('Account created')}}</h1>
    # if user_agent().is.mobile
      <p>{{_('Install the app to start using Wire.')}}</p>
      {{utils.download_btn(_('Get Wire'), 'wbtn green', 'verify')}}
    # elif user_agent().is.osx
      <p>{{_('To sign in and start using Wire, launch the application.')}}</p>
      <a class="wbtn green no-capital" href="{{config.DOWNLOAD_OSX_URL}}">{{_('OPEN macOS APP')}}</a>
      <a class="wbtn blue" href="{{config.WEBAPP_URL}}">{{_('Open in Web')}}</a>
    # elif user_agent().is.windows
      <a class="wbtn green" href="{{config.WIRE_DOWNLOAD_URL}}">{{_('Open Wire')}}</a>
      <a class="wbtn blue" href="{{config.WEBAPP_URL}}">{{_('Open in Web')}}</a>
    # else
      <p>{{_('To sign in and start using Wire, launch the application.')}}</p>
      <a class="wbtn blue" href="{{config.WEBAPP_URL}}">{{_('Open Wire')}}</a>
    # endif
  </div>

  <div class="404 error hide">
    <h1>{{_('Something went wrong')}}</h1>
    <p>{{_('Please try to create your account again.')}}</p>
  </div>

  <div class="500 error hide">
    <h1>{{_('Something went wrong')}}</h1>
    <p>{{_('We are investigating the issue, please check back shortly.')}}</p>
  </div>
# endblock
