# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <link id="url" data-url="{{url}}" data-status="{{status}}"
    # if (user_agent().is.ios or user_agent().is.android)
      data-redirect="{{config.REDIRECT_VERIFY_URL}}"
    # elif user_agent().is.desktop and not (user_agent().is.osx or user_agent().is.windows)
      data-redirect="{{config.WEBAPP_URL}}"
    # endif
    data-credentials="{{credentials}}"
  >

  <div class="loading">
    <h1>{{_('Verifying')}}</h1>
    <p>{{_('Please wait…')}}</p>
  </div>

  <div class="200 202 204 success hide">
    <h1>{{_('Thank you for registering')}}</h1>
    <p>{{_('Please note that upon successful verification of your e-mail, your Wire service provider account is still subject to approval through our staff, which usually happens within 24 hours.')}}</p>
    <p>{{_('You will be informed of the approval via a separate e-mail.')}}</p>
  </div>

  <div class="404 error hide">
    <h1>{{_('Something went wrong')}}</h1>
    <p>{{_('Please try to create your account again.')}}</p>
  </div>

  <div class="500 error hide">
    <h1>{{_('Something went wrong')}}</h1>
    <p>{{_('We are investigating the issue, please check back shortly.')}}</p>
  </div>
# endblock
