*.mo
*.pyc
*.pyo
.DS_Store
.Icon
/.idea
app/version
server/dist/*
keys
node_modules
temp
npm-debug.log
package-lock.json
yarn-error.log
wire-account.zip
/coverage

# Configuration imported from https://github.com/wireapp/wire-web-config-default/
.env
.env.defaults
/config
resource

# yarn 2 - not using zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# yarn 2 - not using zero-installs
server/.pnp.*
server/.yarn/*
server/!.yarn/patches
server/!.yarn/plugins
server/!.yarn/releases
server/!.yarn/sdks
server/!.yarn/versions