.DS_Store
.Icon
*.mo
*.pyc
*.pyo
app/version
dist/*
dist/static/script/**/*
dist/static/style/**/*
!dist/static
!dist/templates
!dist/locales
!dist/.ebextensions
keys
node_modules
temp
npm-debug.log
package-lock.json
yarn-error.log
