language: node_js

node_js:
  - '10'

# https://docs.travis-ci.com/user/encryption-keys/
env:
  global:
    # DOCKER_PASSWORD
    - secure: 'krHKVIFx8LrupJeZLfMK3PytUIKa/J4ngMQDJfyWxPUcvOIDxKq7sFoKbrTgllPINxTzUWl/yKcxgdFK3gs4iwytlcNaiWBfcnarUudl6/go8F2JspdDO3whTP8khSyqeVLJ0k3rtOhfgeeTBoluPi1HSPry/yOLOIksB1JrdouiIEyoFJIGyYk686W4/k3g/4/whlFEB3rnARVu9J3/2VsFxSZsYHn7pb+cNZDMTABKb6EgQIihuuy9kBYq4OSCzVwbHFyii1gucatbW8uaX6c7iAJCz8+h2dsi1IYHrsKehnYlyRQt/yfnZmzwwjXy2rwoZB55tUnUv1jo1m/353VVoQ4vleXeYvhpzKquTtcvfk/fMbmzEw9wJ8SNUK0EYdtfnkK8wo1RFcYX6lrPnKzR0p+JCvbAnO9sgaF04ucl8H0MMW3POq+2iss6MTIHFJfNbE6gOQwQp63posj+WeqqVpLmjq+bHktvXfv6r0nDvkAJjAoVv1PbP3JvduTakd7MOdvk/dYOs9xMDqs+a1K0yyf9LJxCtuqDqQgOVJRtvkHEUHWewFlFrwJWZjS9y8GEITPSvDlYIOGS/dyTvCCmdK+zvoXAeQih+VvYDKMRaangv8AbsGc+OykTQaLUsMFjf6a+TupgfkWM13r2hcFa0DlfsKu/S4PYJNuoKAQ='
    # DOCKER_USERNAME
    - secure: 'pO1pqKwfw0N5K539smGe22f0jHEWygvrmYVjxXEtNtaZRb6icjZ2TfJw/mDClHmeaAjmB2XIaga796AbArdZWdbEdfURZb8jlW2waH7hah82Y4cgkWyzi9+E42MCNPDkKDjCvgyqnQcmuRED0539gKDWqG8vxV1/YhkFbOP/28RDHWnplgubC5jZIsDWccCoLbzLp87BWH0ZY7RGKGukLsYsGzvaX5ZBE1p16g29PQxLtiJks578TufTyNY6Bwc1wXm604TPqXASXzbF/sCZ21oUG52G45GptmFnmCWhLJpmiUDYD92SEB2/TddeQDOiErGc0kAlQ5Io+bbAcYJXZAJeGNLOcPEY4X751vYKA/wVVewnMr0mt7QSJWAyLKxY+wOeJqRZE2aqiENbRU4XsaxlzZDvEno5DuDvmCuBfn98oBYjBt7HOZUMbMuoUHnOyWmkZEN9+bsXEjdSFYcgIaSztMDoO+52qFfX8IsRYyO+Hz0n3QMIX96Vrhkhm/rr8ABxk6EcjhUOftjX1+tTrTBSr3qeQQuC+JUBvGkDV2FG0HN8BTnBGKjenZkQVvd8QMWo7Xp4ObxYFNiwWpGjSGzgzHtCWMCnF/6/3lK0i6We+ypHHIk3fHxkRTG4BjiSz/hmLNlByn2lGg6hTsDsOc2JTYsGD87oIeqwNekNWfs='
  matrix:
    - DISTRIBUTION="$DISTRIBUTION_1"
    - DISTRIBUTION="wire"

notifications:
  email: false

# http://docs.travis-ci.com/user/build-lifecycle/
before_install:
  - echo -e "Host github.com\n\tHostName github.com\n\tUser git\n\tIdentityFile ~/.ssh/id_rsa\n" >> ~/.ssh/config

after_success:
  - echo -e "$TRAVIS_COMMIT" > ./dist/commit
  - yarn build
  - |
    if [ "$TRAVIS_BRANCH" == "staging" ]; then
      if [ "$DISTRIBUTION" == "wire" ]; then
        yarn docker '' staging
      else
        yarn docker "$DISTRIBUTION" staging
      fi
    fi
  - |
    if [ -n "$TRAVIS_TAG" ]; then
      if [ "$DISTRIBUTION" == "wire" ]; then
        yarn docker '' production
      else
        yarn docker "$DISTRIBUTION" production
      fi
    fi
  - |
    if [ "$TRAVIS_BRANCH" == "react" ]; then
      if [ "$DISTRIBUTION" == "wire" ]; then
        yarn docker '' react
      else
        yarn docker "$DISTRIBUTION" react
      fi
    fi

deploy:
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: wire-account.zip
    access-key-id:
      secure: M60tL8rkCr4jrx7LNJEosg0MopAXAxRWbdl+pW9dY/+kPwOaMjd4u1/upxC8itSvb0CF7etCWpM3KZyydQzj/v+fpB+9dxuElFV/j/+Uj5/bFuThnZn3Ka4ifzc/ROhWttWzzhu2ipSwuomyJLhsihAKc9ffr1/HnjgF6zNyCVuiZzW3xRDHKv8oYvmCnBTy5ccN09DqJ2OblCzRlHmT0H8Nj0djQEF4codhNslmZp9RMpoysJKZyZm33lEK4hJvh3Vh5/4B4tbtPOols+cjRDgxa6byG1+lSYoGAiH+UCw1wFD9p3BobAmWhya5kcrVktePVqsG8CNAjRw9wmbIe8Ie6USNTUgnB+lzzzg95SZbK/q7+3YE2aE9ljoOFqm+eBqBkZoEkzx7f1SrbSJGXB6MuSbyiE5dcXlJkKIfUvJfYGRW4i2e61X+wk7yeAyBI5o3idK6srdo845jqVhNzmROsWeStOSeZqnHvJi2+A/MPjIMeIZoXX7a0U9p9s0VyR0RgDMbPQHf44ASJZylksosyTM1TbYec/AtIUkJC4XkJB9Gv/c9Gm6BM1ABHxfFQwNzeKcWYbOc2OH7kTrbbFBKpt8HpuDELFpsubEYaUBqR3uVGVeVZqAYx81kXF86b/eGiv2cTiUSh5GdHiaUEHz485PH/xEnnVJubYPMq2E=
    secret-access-key:
      secure: TgRZFYlLbphsJ4iDn9nndk8ovD7XKUmUh1eYYCJMTprXUDgozlDXDQiUBhMcsqQhPJDrKPjBUhF/Ie/C58NbBQEdGb3+aL3xW87eCTp6DdiSqd+ANwPWR0uVRW/2g83ZeV4XBHHNHBQNkfzJDRZf/1L+5hB+HIW4kw4qrkcKM3+YVOqAZMooBr7W1g3ac+7eIaH4o0a0TOgCDTmsEYnH3GavoKdHWvs1A3P5E7UY5R79ZHRyvWdu4/xfPWLTEONCL4CReZY3pXOCeBc3vsFxbUSpAS+CUrHUrnfbaoW32AmeBthO2YmOSvx2Hd1tYIuuZPuMpycQRQhrv7jPLr45+tdbLTACYs3QULvaiZsZ4/wTwzkV/kUYdkQduh097iRvgGvLPQotoHtuTVaQMQRmYn3sujpulXp4QaYLZIPPxyWG8fOU23hNpPYLKNF+e5GeCYYetkrQhbBMxUDUKt/dU2yLvg6eUQwB0ouTMOYaesufUArbmhimdSxQvdE/K7CnXafdDK7g+g9AAV2n3KePzWSbZn8IoBsp1ScnONNVsVGP88nwJkQw3iU/A2w6OSn08yex4/bfnn7xYJzGLS/eu+v7o42tjC6aLdCmJXWYYs5vghCuckQMMG7bbxq65lj4oAQ6lw5HEN6JIt+B1SSkw+FYwoXLtxOWkr2/+6DWzac=
    region: eu-central-1
    app: Account
    env: wire-account-prod
    bucket_name: wire-account-builds
    on:
      repo: wireapp/wire-account
      branch: master
      condition: $DISTRIBUTION = wire

  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: wire-account.zip
    access-key-id:
      secure: M60tL8rkCr4jrx7LNJEosg0MopAXAxRWbdl+pW9dY/+kPwOaMjd4u1/upxC8itSvb0CF7etCWpM3KZyydQzj/v+fpB+9dxuElFV/j/+Uj5/bFuThnZn3Ka4ifzc/ROhWttWzzhu2ipSwuomyJLhsihAKc9ffr1/HnjgF6zNyCVuiZzW3xRDHKv8oYvmCnBTy5ccN09DqJ2OblCzRlHmT0H8Nj0djQEF4codhNslmZp9RMpoysJKZyZm33lEK4hJvh3Vh5/4B4tbtPOols+cjRDgxa6byG1+lSYoGAiH+UCw1wFD9p3BobAmWhya5kcrVktePVqsG8CNAjRw9wmbIe8Ie6USNTUgnB+lzzzg95SZbK/q7+3YE2aE9ljoOFqm+eBqBkZoEkzx7f1SrbSJGXB6MuSbyiE5dcXlJkKIfUvJfYGRW4i2e61X+wk7yeAyBI5o3idK6srdo845jqVhNzmROsWeStOSeZqnHvJi2+A/MPjIMeIZoXX7a0U9p9s0VyR0RgDMbPQHf44ASJZylksosyTM1TbYec/AtIUkJC4XkJB9Gv/c9Gm6BM1ABHxfFQwNzeKcWYbOc2OH7kTrbbFBKpt8HpuDELFpsubEYaUBqR3uVGVeVZqAYx81kXF86b/eGiv2cTiUSh5GdHiaUEHz485PH/xEnnVJubYPMq2E=
    secret-access-key:
      secure: TgRZFYlLbphsJ4iDn9nndk8ovD7XKUmUh1eYYCJMTprXUDgozlDXDQiUBhMcsqQhPJDrKPjBUhF/Ie/C58NbBQEdGb3+aL3xW87eCTp6DdiSqd+ANwPWR0uVRW/2g83ZeV4XBHHNHBQNkfzJDRZf/1L+5hB+HIW4kw4qrkcKM3+YVOqAZMooBr7W1g3ac+7eIaH4o0a0TOgCDTmsEYnH3GavoKdHWvs1A3P5E7UY5R79ZHRyvWdu4/xfPWLTEONCL4CReZY3pXOCeBc3vsFxbUSpAS+CUrHUrnfbaoW32AmeBthO2YmOSvx2Hd1tYIuuZPuMpycQRQhrv7jPLr45+tdbLTACYs3QULvaiZsZ4/wTwzkV/kUYdkQduh097iRvgGvLPQotoHtuTVaQMQRmYn3sujpulXp4QaYLZIPPxyWG8fOU23hNpPYLKNF+e5GeCYYetkrQhbBMxUDUKt/dU2yLvg6eUQwB0ouTMOYaesufUArbmhimdSxQvdE/K7CnXafdDK7g+g9AAV2n3KePzWSbZn8IoBsp1ScnONNVsVGP88nwJkQw3iU/A2w6OSn08yex4/bfnn7xYJzGLS/eu+v7o42tjC6aLdCmJXWYYs5vghCuckQMMG7bbxq65lj4oAQ6lw5HEN6JIt+B1SSkw+FYwoXLtxOWkr2/+6DWzac=
    region: eu-central-1
    app: Account
    env: wire-account-staging
    bucket_name: wire-account-builds
    on:
      repo: wireapp/wire-account
      branch: staging
      condition: $DISTRIBUTION = wire

  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: wire-account.zip
    access-key-id:
      secure: M60tL8rkCr4jrx7LNJEosg0MopAXAxRWbdl+pW9dY/+kPwOaMjd4u1/upxC8itSvb0CF7etCWpM3KZyydQzj/v+fpB+9dxuElFV/j/+Uj5/bFuThnZn3Ka4ifzc/ROhWttWzzhu2ipSwuomyJLhsihAKc9ffr1/HnjgF6zNyCVuiZzW3xRDHKv8oYvmCnBTy5ccN09DqJ2OblCzRlHmT0H8Nj0djQEF4codhNslmZp9RMpoysJKZyZm33lEK4hJvh3Vh5/4B4tbtPOols+cjRDgxa6byG1+lSYoGAiH+UCw1wFD9p3BobAmWhya5kcrVktePVqsG8CNAjRw9wmbIe8Ie6USNTUgnB+lzzzg95SZbK/q7+3YE2aE9ljoOFqm+eBqBkZoEkzx7f1SrbSJGXB6MuSbyiE5dcXlJkKIfUvJfYGRW4i2e61X+wk7yeAyBI5o3idK6srdo845jqVhNzmROsWeStOSeZqnHvJi2+A/MPjIMeIZoXX7a0U9p9s0VyR0RgDMbPQHf44ASJZylksosyTM1TbYec/AtIUkJC4XkJB9Gv/c9Gm6BM1ABHxfFQwNzeKcWYbOc2OH7kTrbbFBKpt8HpuDELFpsubEYaUBqR3uVGVeVZqAYx81kXF86b/eGiv2cTiUSh5GdHiaUEHz485PH/xEnnVJubYPMq2E=
    secret-access-key:
      secure: TgRZFYlLbphsJ4iDn9nndk8ovD7XKUmUh1eYYCJMTprXUDgozlDXDQiUBhMcsqQhPJDrKPjBUhF/Ie/C58NbBQEdGb3+aL3xW87eCTp6DdiSqd+ANwPWR0uVRW/2g83ZeV4XBHHNHBQNkfzJDRZf/1L+5hB+HIW4kw4qrkcKM3+YVOqAZMooBr7W1g3ac+7eIaH4o0a0TOgCDTmsEYnH3GavoKdHWvs1A3P5E7UY5R79ZHRyvWdu4/xfPWLTEONCL4CReZY3pXOCeBc3vsFxbUSpAS+CUrHUrnfbaoW32AmeBthO2YmOSvx2Hd1tYIuuZPuMpycQRQhrv7jPLr45+tdbLTACYs3QULvaiZsZ4/wTwzkV/kUYdkQduh097iRvgGvLPQotoHtuTVaQMQRmYn3sujpulXp4QaYLZIPPxyWG8fOU23hNpPYLKNF+e5GeCYYetkrQhbBMxUDUKt/dU2yLvg6eUQwB0ouTMOYaesufUArbmhimdSxQvdE/K7CnXafdDK7g+g9AAV2n3KePzWSbZn8IoBsp1ScnONNVsVGP88nwJkQw3iU/A2w6OSn08yex4/bfnn7xYJzGLS/eu+v7o42tjC6aLdCmJXWYYs5vghCuckQMMG7bbxq65lj4oAQ6lw5HEN6JIt+B1SSkw+FYwoXLtxOWkr2/+6DWzac=
    region: eu-central-1
    app: Account
    env: wire-account-staging
    bucket_name: wire-account-builds
    on:
      repo: wireapp/wire-account
      branch: react
      condition: $DISTRIBUTION = wire
