# extends 'base.html'

# block content
  <h1>{{title}}</h1>

<pre class="text-left">
  ENV:                   {{config.ENV}}
  PRODUCTION:            {{config.PRODUCTION}}
  DEBUG:                 {{config.DEBUG}}
  BACKEND_URL:           {{config.BACKEND_URL}}
  VERSION:               {{config.VERSION}}

  DOWNLOAD_ANDROID_URL:  {{config.DOWNLOAD_ANDROID_URL}}
  DOWNLOAD_IOS_URL:      {{config.DOWNLOAD_IOS_URL}}
  DOWNLOAD_OSX_URL:      {{config.DOWNLOAD_OSX_URL}}
  DOWNLOAD_WINDOWS_URL:  {{config.DOWNLOAD_WINDOWS_URL}}
  WEBAPP_URL:            {{config.WEBAPP_URL}}

  REDIRECT_VERIFY_URL:   {{config.REDIRECT_VERIFY_URL}}

  WIRE_URL:              {{config.WIRE_URL}}
  WIRE_DOWNLOAD_URL:     {{config.WIRE_DOWNLOAD_URL}}
  ANALYTICS_ID:          {{config.ANALYTICS_ID}}
</pre>
# endblock

