name: Download translations

on:
  push:
    branches: [staging]
  schedule:
    - cron: '0 8 * * *'

jobs:
  download_translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download translations
        uses: crowdin/github-action@1.1.0
        env:
          GITHUB_TOKEN: ${{github.token}}
          CROWDIN_PROJECT_ID: 342361
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          skip_untranslated_files: true
          # Download translations with pushing to branch
          push_translations: true
          commit_message: 'chore: Update translations [skip ci]'
          localization_branch_name: 'translations'
          create_pull_request: true
          pull_request_title: 'chore: Update translations'
          token: ${{secrets.WEBTEAM_CROWDIN_TOKEN}}
          source: '/src/i18n/en-US.json'
          translation: '/src/i18n/%locale%.json'
          base_path: '.'
