name: Lint

on:
  push:
    branches: [staging, main]
  pull_request:
    branches: [staging, main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{github.token}}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn --frozen-lockfile

      - name: Lint
        run: yarn lint
